/*styles.css*/
html {
    scroll-behavior: smooth;
    scroll-padding-bottom: 80px;
    height: 100%;
}

body {

}

#intro {
    background-image: linear-gradient(to bottom, rgba(1, 21, 22, 0.52), rgba(2, 80, 60, 0.3)),url("../images/bci3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    height: 400px;
    font-weight: lighter;
    text-justify: auto;
}

#intro h1 {
    text-align: center justify;
    font-size: 50px;
    margin: 60px auto;
    display: block;
}

#pagenav li a, .logo h1 a {
    color: white;
}

#aboutImage {
    background-image: url("../images/bci2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#aboutSection {
    padding: 10px;
}

.btn {
    margin-top: 50px;
}

#leadershipTeam {
    text-align: center;
}

#departments {
    background-image: url("../images/bci4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
    height: 600px;
    font-weight: lighter;
    font-size: 1.5em;
    margin: 20px auto;
}

#dept {
    padding-top: 220px;
    font-size: 60px;
}

.admin_depts {
    padding: 20px;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0 auto;
}

.table {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

#ts {
    padding: 100px;
}

#tableHeader {
    font-size: 20px;
    font-weight: 200;
}

#tableborder {
    padding-bottom: 150px;
}

.bciSection {
    height: 300px;
    text-align: center justify;
}

footer {
    background-color: #009178;
    color: white;
}

#footerRight a {
    color:white;
}

.fab {
    color:white;
    padding-right: 15px;
}